@import "tailwindcss";

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Rouge Script;
    src: url("/fonts/RougeScript-Regular.ttf") format("truetype");
}

@theme {
	--font-montserrat: Montserrat, sans-serif;
    --font-rouge: Rouge Script, sans-serif;

    --color-theme-1: #050730; /* main background */
    --color-theme-2: #edeee8; /* stars and details */
    --color-theme-3: #1d2564; /* background remminders */
    --color-theme-4: #FFD7D9;
    --color-theme-5: #c1a65f; /* name */
}