@import "tailwindcss";

@font-face {
    font-family: Birthstone Bounce;
    src: url("/fonts/BirthstoneBounce-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@theme {
	--font-birthstone: Birthstone Bounce, sans-serif;
	--font-montserrat: Montserrat, sans-serif;

    --color-coquette-1: #EFEAE6;
    --color-coquette-2: #FBF2F2;
    --color-coquette-3: #FFE2E4;
    --color-coquette-4: #FFD7D9;
    --color-coquette-5: #EB79A2;
}